html, body{
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}
nav{
  background-color: #f4f4f4;
  height: 6%;
  margin-bottom: 1%;
}
nav .logo{
  color: #46484c;
  position: absolute;
  align-items: center;
  margin: 0;
}
.items{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: auto;
}
.hitem{
  border-style: solid;
  border-color: #46484c;
  max-width: 9vw;
  margin: 1%;
}

.hitem img{
  max-width: 100%;
}

.witem{
  border-style: solid;
  border-color: #46484c;
  max-width: 12vw;
  height: auto;
  margin: 1%;
  overflow: hidden;

}
.witem img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
