html, body{
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}
nav{
  background-color: #46484c;
  height: 6%;
  display: flex;
}
nav .logo{
  color: black;
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;

}
.items{
  display: flex;
  justify-content:space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
/*
.item{
  border-style: solid;
  border-color: #46484c;
  position: relative;
  width: 10%;
  padding-bottom: 100%;
}
.item img{
  position: absolute;
  width: 100%;
  height: 100%;
}*/

.item{
  width: 20%;
  padding-bottom: 20%;
  position: relative;
}
.item img{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
}
